<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <title>Rust + Rocket = Tiny Humans</title>

    <style>
      body {
        background-image: url('paper.jpg');
      }

      .PersonBlue {
        filter: invert(12%) sepia(100%) saturate(4004%) hue-rotate(241deg) brightness(100%) contrast(150%);
      }

      .PersonRed {
        filter: invert(24%) sepia(96%) saturate(7498%) hue-rotate(359deg) brightness(105%) contrast(109%);
      }

      .PersonGreen {
        filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
      }

      .chat {
        position: absolute;
      }

      .message {
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 99;
      }

      .human {
        position: absolute;
      }
    </style>

  </head>
  <body id="TinyHumans">
    <button class="message" onclick="clearHumans(event)">Clear</button>
  </body>
  <script type="text/javascript" src="humans.js"></script>
</html>
