<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <title>Rust + Rocket = Tiny Humans</title>

    <style>
      html,body {
        height: 100%;
        margin: 0;
        overflow: hidden;
     }

      body {
        background-image: url('paper.jpg');
        overflow: hidden;
      }

      {% for key, value in colors %}
        .{{key}} {
          filter: {{value}}
        }
      {% endfor %}

      .chat {
        position: absolute;
        overflow: hidden;
      }

      .message {
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 99;
        overflow: hidden;
      }

      .human {
        position: absolute;
        overflow: hidden;
        width: -moz-fit-content;
      }
    </style>

  </head>
  <body id="TinyHumans">
    <button class="message" onclick="clearHumans(event)">Clear</button>
  </body>
  <script type="text/javascript" src="humans.js"></script>
</html>
